{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Python{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
    <div class="site-container">
        <header>
            <nav>
                <a href="{% url 'views.index' %}">Home</a>
                <a href="{% url 'courses:list' %}">Courses</a>
            </nav>
        </header>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
